body {
  font-family: sans-serif;
  background-color: black !important;
  color: aliceblue !important;
}

a {
  text-decoration: none;
  color: gold;
}

label {
  display: block;
  color: aliceblue !important;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: gold;
}

form div {
  margin: 1em;
  display: block;
}

#pageHeader a {
  color: #00d8ff;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: bottom;
}
#pageHeader {
  padding-top: 1%;
  margin-right: 5%;
  margin-bottom: 0;
}

div .ui.inverted.segment {
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
div .ui.fitted.divider {
  color: gold;
}

div .ui.fluid.left.icon.input {
  margin-left: 0;
}

.ace_editor,
.ace_editor * {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas',
    monospace !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

#codeEditor {
  width: 90%;
}

#multiCodeEditor {
  width: 50%;
}

#error {
  color: red;
}

#blurry-text {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

span {
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
  margin-top: 25px;
}
